.about-us {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.about-title{
  font-family: Montserrat;
  margin-top: 45px;
  color: white;
  font-weight: 600;
}

.about-us-cards{
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(24, 24, 24, 0.7);
  padding: 60px;
  border-radius: 7.5px;
  color: white;
}

.name{
  margin-bottom: 5px;
}

.pfp{
  width: 235px;
  border-radius: 200px;
}

.links{
  margin-top: 7.5px;
}

.description{
  color: rgb(162, 162, 162);
}

.links-logo{
  width: 30px;
  margin: 5px;
}

