.horizontal-line2{
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.527);
  flex-grow: 1;
}

.toggle-section{
  list-style-type: none;
  align-items: center;
  display: flex;
  height: 50px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.toggle-section li{
  width: 12%;
  background-color: rgb(23, 23, 23);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 0.95rem;
  font-weight: 500;
}

.toggle-section li:hover{
  background-color: rgb(37, 37, 37);
  transition: background-color 0.2s ease;
}

.charts-graphs-option{
  font-size: 0.9rem;
  margin-bottom: 2vh;
  margin-top: 3.5vh;
}

.charts-graphs-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 2.5%;
  margin-top: 25px;
}

.chart-graph{
  width: 500px;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.charts_graphs_section{
  padding-top: 2vh;
}

.select{
  background-color: rgb(51, 51, 51);
  padding: 8px;
  font-size: 0.8rem;
  border: none;
  width: 150px;
  color: white;
}

.compare-years select{
  margin: 15px;
}

.compare-years select:focus{
  outline: none;
}

.compare-button{
  font-size: 0.8rem;
  padding: 10px 15px 10px 15px;
  border: none;
  cursor: pointer;
  background-color: rgb(181, 0, 213);
  font-family: Montserrat;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.compare-button:hover{
  background-color: rgb(105, 3, 113);
  transition: background-color 0.2s ease;
}

.compare-desc{
  height: 60px;
  margin-top: 35px;
  font-size: 0.9rem;
  font-family: Montserrat;
  color: rgb(196, 196, 196);
}

.compare-chart-graph{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px; 
}