.evaluation-title{
  font-family: Montserrat;
  color: rgb(184, 184, 184);
  font-weight: 600;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.evaluation-container{
  text-align: left;
}

.map-container{
  width: 100%;
  display: flex;
}

#map-container1{
  margin-bottom: 50px;
}

.details-section{
  width: 22.5%;
  margin-right: 3%;
}

.map-option{
  font-size: 0.9rem;
  margin-bottom: 2vh;
}

.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 1px solid rgb(111, 111, 111);
  background: #343434;
  font-weight: bold;
  cursor: pointer;
}

.toggleContainer::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%; /* Starts on the left */
  background: rgb(181, 0, 213); /* Initial background is purple */
  transition: all 0.3s;
}

.toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
  background: rgb(28, 28, 206); /* Changes to blue when toggled to the right */
}

.toggleCheckbox:checked + .toggleContainer div:first-child {
  color: #343434;
  transition: color 0.3s;
}

.toggleCheckbox:checked + .toggleContainer div:last-child {
  color: white;
  transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:first-child {
  color: white;
  transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:last-child {
  color: #343434;
  transition: color 0.3s;
}

.toggleContainer div {
  padding: 12.5px;
  text-align: center;
  z-index: 1;
}

.toggleCheckbox {
  display: none;
}

.map-div{
  flex-grow: 1;
}

.map{
  height: 70vh;
  width: 100%;
}

.map-title1{
  color: rgb(181, 0, 213);
  margin-top: 0;
  font-size: 2.2rem;
}

.map-title2{
  color: rgb(28, 28, 206);
  margin-top: 0;
  font-size: 2.2rem;
}

.localTime{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.time{
  font-size: 1.8rem;
  margin-top: 10px;
  font-weight: 650;
}

.time-frame{
  font-size: 1.2rem;
}

.years{
  font-size: 1.8rem;
  margin-top: 10px;
  font-weight: 650;
}

.map-description{
  color: gray;
  font-size: 1rem;
}

.horizontal-line{
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.527);
  flex-grow: 1;
  margin-left: 30px;
}

.vertical-line{
  border-left: 0.5px solid rgba(128, 128, 128, 0.527);
  height: 70vh;
  margin-right: 3.5%;
}

.leaflet-control-zoom {
  z-index: 1;
}

/* BOTTOM RIGHT WATERMARK */
.leaflet-control-attribution {
  z-index: 1;
}

.recorded-circlemarker-popup {
  color: white;
  text-align: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 12px;
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
}

.predict-popup .leaflet-popup-content-wrapper{
  width: 650px;
}

.predicted-circlemarker-popup {
  color: white;
  font-family: Montserrat;
  font-size: 0.8rem;
  width: 550px;
  padding: 10px 15px 15px 15px;
  margin-left: 5.5%;
  display: flex;
}

.predicted-section:first-child{
  margin-right: 6%;
  width: 50%;
}

.predicted-section:nth-child(2){
  margin-left: 6%;
  width: 50%;
}

.predicted-circlemarker-popup div{
  margin-top: 5px;
}

.predictions-title{
  color: rgb(217, 0, 255);
  font-weight: 550;
  font-size: 1.094rem;
}

.nearest-message{
  margin-top: 20px;
}

.details-title{
  color: rgb(117, 117, 255);
  font-weight: 550;
  font-size: 17.5px;
  
}

.line{
  color: gray;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(25, 24, 24, 0.918) !important;
}

.predict-form{
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
}

.predict-form label{
  margin-bottom: 5px;
}

.predict-form input{
  margin-bottom: 5px;
  background-color: rgb(181, 181, 181);
  font-size: 1rem;
  padding: 5px;
}

.predict-form input:focus{
  outline: none;
}

.predict-form button{
  margin-top: 10px;
  font-size: 1.2rem;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(181, 0, 213);
  font-family: Montserrat;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.predict-form button:hover{
  background-color: rgb(105, 3, 113);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.blur{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

.popupMessage{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 40vh;
  left: 0;
  z-index: 1050;
  color: black;
  font-family: Montserrat;
  font-size: 1.2rem;
  padding: 40px;
  font-weight: 600;
  background-color: white;
}

.loading-container{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(28, 28, 206)
}

.loading-car{
  width: 40px;
  margin-left: 10px;
}

.error-button1, .error-button2{
  margin-top: 40px;
  margin-left: auto;
  border: none;
  cursor: pointer;
  background-color: rgb(181, 0, 213);
  color: white;
  padding: 7.5px 20px 7.5px 20px;
  font-weight: 600;
  width: 70px;
}

.error-button1{
  margin-right: 20px;
}

.legend{
  margin-top: 30px;
  margin-bottom: 30px;
}

.color-container{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-right: auto;
  margin-top: 10px;
  font-family: Montserrat;
}

.color{
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.color-description{
  margin-left: 20px;
}

#green{
  background-color: green;
}

#yellow{
  background-color: yellow;
}

#red{
  background-color: red;
}