.evaluation-title{
  color: rgb(184, 184, 184);
  font-weight: 600;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.evaluation-container{
  text-align: left;
}

.map-container{
  width: 100%;
  display: flex;
}

#map-container1{
  margin-bottom: 50px;
}

.details-section{
  width: 22.5%;
  margin-right: 3%;
}

.toggle-section2{
  list-style-type: none;
  align-items: center;
  display: flex;
  height: 50px;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 22.5px;
}

.toggle-section2 li{
  width: 12%;
  background-color: rgb(23, 23, 23);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 0.95rem;
  font-weight: 500;
}

.toggle-section2 li:hover{
  background-color: rgb(37, 37, 37);
  transition: background-color 0.2s ease;
}

.map-div{
  flex-grow: 1;
}

.map{
  height: 70vh;
  width: 100%;
}

.map-title1{
  color: rgb(181, 0, 213);
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 2.2rem;
}

.map-title2{
  color: rgb(28, 28, 206);
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 2.2rem;
}

.time-frame{
  font-size: 1.2rem;
}

.years{
  font-size: 1.8rem;
  margin-top: 10px;
  font-weight: 650;
}

.map-description{
  color: gray;
  font-size: 0.9rem;
}

.horizontal-line{
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.527);
  flex-grow: 1;
  margin-left: 30px;
}

.vertical-line{
  border-left: 0.5px solid rgba(128, 128, 128, 0.527);
  height: 70vh;
  margin-right: 3.5%;
}

.leaflet-control-zoom {
  z-index: 1;
}

/* BOTTOM RIGHT WATERMARK */
.leaflet-control-attribution {
  z-index: 1;
}

.timeframe-circlemarker-popup {
  color: white;
  text-align: center;
  align-items: center;
  font-size: 12px;
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
}

.by-timeframe-search{
  margin-top: 15px;
}

.by-timeframe-search select{
  font-size: 0.9rem;
}

.bytimeframe-search{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.location-popup .leaflet-popup-content-wrapper{
  width: 650px;
}

.location-circlemarker-popup {
  color: white;
  font-size: 0.8rem;
  width: 550px;
  padding: 10px 15px 15px 15px;
  margin-left: 5.5%;
  display: flex;
}

.location-section:first-child{
  margin-right: 6%;
  width: 50%;
}

.location-section:nth-child(2){
  margin-left: 6%;
  width: 50%;
}

.location-circlemarker-popup div{
  margin-top: 5px;
}

.predictions-title{
  color: rgb(217, 0, 255);
  font-weight: 550;
  font-size: 1.094rem;
}

.nearest-message{
  margin-top: 20px;
}

.details-title{
  color: rgb(117, 117, 255);
  font-weight: 550;
  font-size: 17.5px;
}

.line{
  color: gray;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(25, 24, 24, 0.918) !important;
}

.location-form{
  display: flex;
  flex-direction: column;
  
}

.location-form label{
  margin-bottom: 5px;
}

.location-form input{
  margin-bottom: 5px;
  background-color: rgb(181, 181, 181);
  font-size: 1rem;
  padding: 5px;
}

.location-form input:focus{
  outline: none;
}

.location-form button{
  margin-top: 10px;
  font-size: 1.2rem;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(181, 0, 213);
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.by-timeframe-button{
  margin-top: 15px;
  font-size: 1.2rem;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(28, 28, 206);
  
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.location-form button:hover{
  background-color: rgb(105, 3, 113);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.by-timeframe-button:hover{
  background-color: rgb(16, 16, 129);
  cursor: pointer;
}

.by-timeframe-info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgb(205, 205, 205);
  z-index: 1020;
  font-weight: 600;
  color: rgb(117, 117, 117);
}

.location-color-info{
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.total{
  display: flex;
  gap: 7px;
}

.color-counts{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.count-item{
  display: flex;
  gap: 7px;
}

.filter{
  margin-right: 5px;
}

.filter-colors{
  display: flex;
  align-items: center;
  gap: 10px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .filter-colors input[type=checkbox] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 16px; /* Smaller height */
    width: 16px;  /* Smaller width */
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .filter-colors input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .filter-colors input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .filter-colors input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .filter-colors input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .filter-colors input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .filter-colors input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .filter-colors input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .filter-colors input[type=checkbox]:not(.switch) {
    border-radius: 4px; /* Adjust for smaller checkbox */
  }
  .filter-colors input[type=checkbox]:not(.switch):after {
    width: 3px;  /* Smaller checkmark */
    height: 6px; /* Smaller checkmark */
    border: 1px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 5px; /* Adjust position for smaller size */
    top: 3px;  /* Adjust position for smaller size */
    transform: rotate(var(--r, 20deg));
  }
  .filter-colors input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
}

.filter-colors * {
  box-sizing: inherit;
}
.filter-colors *:before,
.filter-colors *:after {
  box-sizing: inherit;
}

.total-crashes{
  color: rgb(28, 28, 206);
}

.more-crashes-button{
  margin-top: 12.5px;
  background-color: rgb(28, 28, 206); 
  border: none;
  color: white;
  cursor: pointer;
  padding: 7px 15px 7px 15px;
  font-weight: bold;
  border-radius: 5px;
}

.more-crashes-button:hover{
  background-color: rgb(16, 16, 129);
  transition: background-color 0.1s ease;
}

.blur{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

.popupMessage{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 40vh;
  left: 0;
  z-index: 1050;
  color: black;
  font-size: 1.2rem;
  padding: 40px;
  font-weight: 600;
  background-color: white;
}

.loading-container{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(28, 28, 206)
}

.loading-car{
  width: 40px;
  margin-left: 10px;
}

.error-button1, .error-button2{
  margin-top: 40px;
  margin-left: auto;
  border: none;
  cursor: pointer;
  background-color: rgb(181, 0, 213);
  color: white;
  padding: 7.5px 20px 7.5px 20px;
  font-weight: 600;
  width: 70px;
}

.error-button1{
  margin-right: 20px;
}

.legend{
  margin-top: 30px;
  margin-bottom: 30px;
}

.color-container{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-right: auto;
  margin-top: 10px;
}

.color{
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.color-description{
  margin-left: 20px;
}

#green{
  background-color: green;
}

#yellow{
  background-color: yellow;
}

#red{
  background-color: red;
}

.location-map-info{
  background-color: transparent;
  position: absolute;
  width: 8%;
  left: 0;
  height: 7%;
  z-index: 1020;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-map-info button{
  background-color: rgb(217, 0, 255);
  border: none;
  padding: 5px 7px 5px 7px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2.5px;
}

.location-map-info button:hover{
  background-color: rgb(105, 3, 113);
  transition: background-color 0.1s ease;
}

.location-remove-button-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-remove-button{
  margin-top: 10%;
  background-color:rgb(217, 0, 255);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-radius: 2.5px;
}

.location-remove-button:hover{
  background-color: rgb(105, 3, 113);
  transition: background-color 0.1s ease;
}