.evaluation-title{
  font-family: Montserrat;
  color: rgb(184, 184, 184);
  font-weight: 600;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.evaluation-container{
  text-align: left;
}

.map-container{
  width: 100%;
  display: flex;
  align-items: center;
}

#map-container1{
  margin-bottom: 50px;
}

.details-section{
  width: 22.5%;
  margin-right: 3%;
}

.map-option{
  position: absolute;
}

.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 1px solid rgb(111, 111, 111);
  background: #343434;
  font-weight: bold;
  cursor: pointer;
}

.toggleContainer::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%; /* Starts on the left */
  background: rgb(181, 0, 213); /* Initial background is purple */
  transition: all 0.3s;
}

.toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
  background: rgb(28, 28, 206); /* Changes to blue when toggled to the right */
}

.toggleCheckbox:checked + .toggleContainer div:first-child {
  color: #343434;
  transition: color 0.3s;
}

.toggleCheckbox:checked + .toggleContainer div:last-child {
  color: white;
  transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:first-child {
  color: white;
  transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:last-child {
  color: #343434;
  transition: color 0.3s;
}

.toggleContainer div {
  padding: 12.5px;
  text-align: center;
  z-index: 1;
}

.toggleCheckbox {
  display: none;
}

.map-div{
  flex-grow: 1;
}

.map{
  height: 70vh;
  width: 100%;
}

.map-title1{
  color: rgb(181, 0, 213);
  margin-top: 0;
  font-size: 2.2rem;
}

.map-title2{
  color: rgb(28, 28, 206);
  margin-top: 0;
  font-size: 2.2rem;
}

.localTime{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.time{
  font-size: 1.8rem;
  margin-top: 10px;
  font-weight: 650;
}

.time-frame{
  font-size: 1.2rem;
}

.years{
  font-size: 1.8rem;
  margin-top: 10px;
  font-weight: 650;
}

.map-description{
  color: gray;
  font-size: 1rem;
  margin-top: 50px;
}

.horizontal-line{
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.527);
  flex-grow: 1;
  margin-left: 30px;
}

.vertical-line{
  border-left: 0.5px solid rgba(128, 128, 128, 0.527);
  height: 70vh;
  margin-right: 3.5%;
}

.leaflet-control-zoom {
  z-index: 1;
}

/* BOTTOM RIGHT WATERMARK */
.leaflet-control-attribution {
  z-index: 1;
  /* bottom: -15px;
  right: -15px; */
}





