.header{
  background-color: rgb(39, 40, 40);
  height: 100px;
  display: flex;
  align-items: center;
  font-family: Montserrat;
}

.header-box{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1800px;
  max-width: 1800px;
  align-items: center;
}

.navbar{
  display: flex;
  gap: 70px;
  margin-left: auto;
  margin-right: 65px;
}

.navbar a{
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.navbar a:hover{
  color: rgb(47, 200, 149);
  transition: color 0.25s ease;
}

.logo{
  max-width: 70px;
  height: auto;
  margin-left: 48.1%;
}





