.header{
  background-color: rgb(39, 40, 40);
  height: 80px;
  font-family: Montserrat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-box{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1800px;
  max-width: 1800px;
  height: 80px;
  align-items: center;
}

.header-title{
  color: rgb(255, 233, 252);
  font-family: Montserrat;
  margin-left: 30px;
  font-weight: 600;
  font-size: 1.2rem;
}

.navbar{
  display: flex;
  gap: 70px;
  margin-left: auto;
  margin-right: 65px;
}

.navbar a{
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.navbar a:hover{
  color: rgb(196, 52, 179);
  transition: color 0.25s ease;
}

.logo{
  width: 55px;
  margin-left: 65px;
}





