body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin-bottom: 2.5vh;
}

section{
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  width: 85%;
  padding-top: 7.5vh;
  padding-bottom: 4.5vh;
}
