.overview-container{
  text-align: left;
  font-family: Montserrat;
}

.overview-nav{
  list-style-type: none;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  text-align: center;
  padding: 0;
  margin-bottom: 3%;
}

.overview-nav li{
  width: 10%;
  background-color: rgb(23, 23, 23);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 0.95rem;
  font-weight: 500;
}

.overview-nav li:hover{
  background-color: rgb(37, 37, 37);
  transition: background-color 0.2s ease;
}

.overview-container div{
  color: rgb(195, 195, 195);
}

.overview-container ul{
  color: rgb(195, 195, 195);
}

.overview-title{
  font-family: Montserrat;
  color: rgb(184, 184, 184);
  font-weight: 600;
  font-size: 1.8rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.horizontal-line{
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.527);
  flex-grow: 1;
  margin-left: 30px;
}

.dataset-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 5vh; */
}

.dataset-section .title {
  font-size: 2rem;
}

.title{
  font-size: 3rem;
  color: rgb(28, 28, 206);
  margin-bottom: 4rem;
}

.description{
  font-size: 1rem;
  margin-top: 20px;
}

.limitations-description{
  margin-bottom: 1rem;
}

.dataset-logo{
  width: 250px;
  border-radius: 7.5px;
}

.dataset-section .description{
  font-size: 1rem;
  /* margin-top: 20px; */
  width: 20%;
  color: rgb(181, 181, 181);
  text-align: center;
}

.dataset-section .title{
  margin-bottom: 1rem;
  margin-top: 10vh;
}

.spacing{
  margin-top: 20px;
}

.overview-section{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.overview-section .image{
  width: 40rem;
  height: 68vh;
  object-fit: cover;
}

.overview-section .text{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  /* max-width: 100%; */
}